In [186]:
import numpy as np
import pandas as pd
from kMeans import kMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import completeness_score, homogeneity_score

## 2-A
Create a cosine distance function.

In [226]:
def cosine_distance(x,y):
    x = np.asarray(x)
    y = np.asarray(y)
    x_norm = np.linalg.norm(x)
    y_norm = np.linalg.norm(y)
    if x_norm == 0 or y_norm == 0:
        return np.nan
    sims = np.dot(x,y)/(x_norm * y_norm)
    dists = 1 - sims
    return dists

## 2-B
Load the data, transpose it so it can be used to cluster the documents, and create a 80-20 train-test split.

In [188]:
data = pd.read_csv('newsgroups5/matrix.txt',header=None)
print(data.shape)
data = data.T
print(data.shape)
data.head()

(9328, 2500)
(2500, 9328)

,0,1,2,3,4,5,6,7,8,9,...,9318,9319,9320,9321,9322,9323,9324,9325,9326,9327
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [189]:
target = pd.read_csv('newsgroups5/classes.txt', skiprows=1, header=None, delimiter=' ', index_col=0)
target.columns = ['Class']
print(target.shape)
target.head()

(2500, 1)

   Class
0
0      0
1      1
2      1
3      1
4      2

In [190]:
doc_train, doc_test, target_train, target_test = train_test_split(data, target, test_size=0.2, random_state=4378)
print(doc_train.shape)
print(doc_test.shape)

(2000, 9328)
(500, 9328)

Now, convert the training data to TFxIDF.

In [191]:
train_freqs = pd.DataFrame(doc_train.sum(axis=0)).T
train_freqs

,0,1,2,3,4,5,6,7,8,9,...,9318,9319,9320,9321,9322,9323,9324,9325,9326,9327
0,12,6,78,11,26,10,50,4,63,171,...,8,8,3,16,3,5,41,9,4,6

In [192]:
test_freqs = pd.DataFrame(doc_test.sum(axis=0)).T
test_freqs

,0,1,2,3,4,5,6,7,8,9,...,9318,9319,9320,9321,9322,9323,9324,9325,9326,9327
0,4,0,4,1,4,0,6,0,15,41,...,5,8,1,3,4,3,9,2,2,9

In [193]:
train_NMatrix = np.ones(np.shape(doc_train), dtype=float)*doc_train.shape[0]
print(train_NMatrix[:5])

[[2000. 2000. 2000. ... 2000. 2000. 2000.]
 [2000. 2000. 2000. ... 2000. 2000. 2000.]
 [2000. 2000. 2000. ... 2000. 2000. 2000.]
 [2000. 2000. 2000. ... 2000. 2000. 2000.]
 [2000. 2000. 2000. ... 2000. 2000. 2000.]]

In [194]:
test_NMatrix = np.ones(np.shape(doc_test), dtype=float)*doc_test.shape[0]
print(test_NMatrix[:5])

[[500. 500. 500. ... 500. 500. 500.]
 [500. 500. 500. ... 500. 500. 500.]
 [500. 500. 500. ... 500. 500. 500.]
 [500. 500. 500. ... 500. 500. 500.]
 [500. 500. 500. ... 500. 500. 500.]]

In [224]:
train_freqs[train_freqs == 0] = 1
train_IDF = np.log2(np.divide(train_NMatrix, np.array(train_freqs)))
print(train_IDF[:5])

[[7.38082178 8.38082178 4.68038207 ... 7.79585928 8.96578428 8.38082178]
 [7.38082178 8.38082178 4.68038207 ... 7.79585928 8.96578428 8.38082178]
 [7.38082178 8.38082178 4.68038207 ... 7.79585928 8.96578428 8.38082178]
 [7.38082178 8.38082178 4.68038207 ... 7.79585928 8.96578428 8.38082178]
 [7.38082178 8.38082178 4.68038207 ... 7.79585928 8.96578428 8.38082178]]

In [196]:
test_freqs[test_freqs == 0] = 1
test_IDF = np.log2(np.divide(test_NMatrix, np.array(test_freqs)))
print(test_IDF[:5])

[[6.96578428 8.96578428 6.96578428 ... 7.96578428 7.96578428 5.79585928]
 [6.96578428 8.96578428 6.96578428 ... 7.96578428 7.96578428 5.79585928]
 [6.96578428 8.96578428 6.96578428 ... 7.96578428 7.96578428 5.79585928]
 [6.96578428 8.96578428 6.96578428 ... 7.96578428 7.96578428 5.79585928]
 [6.96578428 8.96578428 6.96578428 ... 7.96578428 7.96578428 5.79585928]]

In [197]:
train_TFxIDF = doc_train * train_IDF
print(train_TFxIDF.shape)
train_TFxIDF.head()

(2000, 9328)

,0,1,2,3,4,5,6,7,8,9,...,9318,9319,9320,9321,9322,9323,9324,9325,9326,9327
413,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
test_TFxIDF = doc_test * test_IDF
print(test_TFxIDF.shape)
test_TFxIDF.head()

(500, 9328)

,0,1,2,3,4,5,6,7,8,9,...,9318,9319,9320,9321,9322,9323,9324,9325,9326,9327
1317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2065,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
910,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2184,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
test_TFxIDF.index[:5]

Index([1317, 1218, 2065, 910, 2184], dtype='int64')

In [200]:
terms = pd.read_csv('newsgroups5/terms.txt',header=None)
terms = np.array(terms)
len(terms)

9328

## 2-C

Analyze the clusters sorted by the top N terms most frequent in each cluster and their centroid weight.

In [201]:
def clusterAnalysis(centroids,clusters,N,terms,NDocs):
    train_idx = NDocs.index
    for c in range(len(centroids)):
        count = np.sum(clusters[:,0]==c) #count the number of items in the cluster
        ids = np.where(clusters[:,0]==c) #get the index of items in cluster
        idx = train_idx[ids] #match the cluster indices to the document data
        print(f"Cluster {c}")
        print(f"Cluster size: {count}")
        cluster_tf = (NDocs.loc[idx] != 0).sum().sort_values(ascending=False)[:N] #sum term frequencies and get top N most frequent
        print(f'Top {N} terms in Cluster {c}')
        print(f"{'term':<10} {'DF':<5} {'% of Ndocs'}")
        for tf in cluster_tf:
            if tf == 0: #empty cluster
                p = 0
            else:
                p = (tf/count)*100
            id = cluster_tf[cluster_tf == tf].index[0] #get index of term
            term = terms[id][0] #get term from data
            print(f"{term:<10} {tf:<5} {p:.6f}")
        print()

Perform KMeans for K values 4 through 8, clustering the TFxIDF data using the cosine_distance function.

In [202]:
for k in range(4,9):
    print('----------------------------------------------------------------------------------')
    print(f'KMeans {k}')
    print('----------------------------------------------------------------------------------')
    train_centroids, train_clusters = kMeans(np.array(train_TFxIDF),k,distMeas=cosine_distance)
    clusterAnalysis(train_centroids,train_clusters,5,terms,doc_train)

----------------------------------------------------------------------------------
KMeans 4
----------------------------------------------------------------------------------
Cluster 0
Cluster size: 442
Top 5 terms in Cluster 0
term       DF    % of Ndocs
subject    442   100.000000
window     272   61.538462
write      188   42.533937
file       153   34.615385
get        149   33.710407

Cluster 1
Cluster size: 1166
Top 5 terms in Cluster 1
term       DF    % of Ndocs
subject    1166  100.000000
write      707   60.634648
on         557   47.770154
articl     532   45.626072
know       402   34.476844

Cluster 2
Cluster size: 386
Top 5 terms in Cluster 2
term       DF    % of Ndocs
subject    386   100.000000
sale       234   60.621762
email      133   34.455959
pleas      124   32.124352
offer      112   29.015544

Cluster 3
Cluster size: 6
Top 5 terms in Cluster 3
term       DF    % of Ndocs
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000

----------------------------------------------------------------------------------
KMeans 5
----------------------------------------------------------------------------------
Cluster 0
Cluster size: 421
Top 5 terms in Cluster 0
term       DF    % of Ndocs
subject    421   100.000000
window     271   64.370546
write      180   42.755344
get        148   35.154394
file       147   34.916865

Cluster 1
Cluster size: 412
Top 5 terms in Cluster 1
term       DF    % of Ndocs
subject    412   100.000000
write      219   53.155340
game       217   52.669903
team       188   45.631068
go         177   42.961165

Cluster 2
Cluster size: 6
Top 5 terms in Cluster 2
term       DF    % of Ndocs
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000

Cluster 3
Cluster size: 768
Top 5 terms in Cluster 3
term       DF    % of Ndocs
subject    768   100.000000
write      494   64.322917
on         408   53.125000
articl     361   47.005208
peopl      296   38.541667

Cluster 4
Cluster size: 393
Top 5 terms in Cluster 4
term       DF    % of Ndocs
subject    393   100.000000
sale       234   59.541985
email      141   35.877863
pleas      127   32.315522
offer      111   28.244275

----------------------------------------------------------------------------------
KMeans 6
----------------------------------------------------------------------------------
Cluster 0
Cluster size: 385
Top 5 terms in Cluster 0
term       DF    % of Ndocs
subject    385   100.000000
sale       234   60.779221
email      133   34.545455
pleas      124   32.207792
offer      112   29.090909

Cluster 1
Cluster size: 1
Top 5 terms in Cluster 1
term       DF    % of Ndocs
aq         1     100.000000
aq         1     100.000000
aq         1     100.000000
aq         1     100.000000
aq         1     100.000000

Cluster 2
Cluster size: 443
Top 5 terms in Cluster 2
term       DF    % of Ndocs
subject    443   100.000000
window     272   61.399549
write      188   42.437923
file       153   34.537246
get        149   33.634312

Cluster 3
Cluster size: 5
Top 5 terms in Cluster 3
term       DF    % of Ndocs
mtm        5     100.000000
mtm        5     100.000000
mtm        5     100.000000
mtm        5     100.000000
mtm        5     100.000000

Cluster 4
Cluster size: 1166
Top 5 terms in Cluster 4
term       DF    % of Ndocs
subject    1166  100.000000
write      707   60.634648
on         557   47.770154
articl     532   45.626072
know       402   34.476844

Cluster 5
Cluster size: 0
Top 5 terms in Cluster 5
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

----------------------------------------------------------------------------------
KMeans 7
----------------------------------------------------------------------------------
Cluster 0
Cluster size: 0
Top 5 terms in Cluster 0
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

Cluster 1
Cluster size: 0
Top 5 terms in Cluster 1
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

Cluster 2
Cluster size: 1166
Top 5 terms in Cluster 2
term       DF    % of Ndocs
subject    1166  100.000000
write      707   60.634648
on         557   47.770154
articl     532   45.626072
know       402   34.476844

Cluster 3
Cluster size: 442
Top 5 terms in Cluster 3
term       DF    % of Ndocs
subject    442   100.000000
window     272   61.538462
write      188   42.533937
file       153   34.615385
get        149   33.710407

Cluster 4
Cluster size: 6
Top 5 terms in Cluster 4
term       DF    % of Ndocs
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000

Cluster 5
Cluster size: 386
Top 5 terms in Cluster 5
term       DF    % of Ndocs
subject    386   100.000000
sale       234   60.621762
email      133   34.455959
pleas      124   32.124352
offer      112   29.015544

Cluster 6
Cluster size: 0
Top 5 terms in Cluster 6
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

----------------------------------------------------------------------------------
KMeans 8
----------------------------------------------------------------------------------
Cluster 0
Cluster size: 434
Top 5 terms in Cluster 0
term       DF    % of Ndocs
subject    434   100.000000
window     276   63.594470
write      182   41.935484
file       151   34.792627
file       151   34.792627

Cluster 1
Cluster size: 811
Top 5 terms in Cluster 1
term       DF    % of Ndocs
subject    811   100.000000
write      484   59.679408
articl     375   46.239211
on         341   42.046856
get        291   35.881628

Cluster 2
Cluster size: 378
Top 5 terms in Cluster 2
term       DF    % of Ndocs
subject    378   100.000000
sale       232   61.375661
email      132   34.920635
pleas      120   31.746032
offer      108   28.571429

Cluster 3
Cluster size: 371
Top 5 terms in Cluster 3
term       DF    % of Ndocs
subject    371   100.000000
write      229   61.725067
on         216   58.221024
god        207   55.795148
christian  177   47.708895

Cluster 4
Cluster size: 6
Top 5 terms in Cluster 4
term       DF    % of Ndocs
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000
ax         6     100.000000

Cluster 5
Cluster size: 0
Top 5 terms in Cluster 5
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

Cluster 6
Cluster size: 0
Top 5 terms in Cluster 6
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

Cluster 7
Cluster size: 0
Top 5 terms in Cluster 7
term       DF    % of Ndocs
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000
aa         0     0.000000

Using K 4 through 7 produces similar results, where there are 2 or 3 meaningful clusters and the remaining clusters are empty or noise clusters. When K is 8, there are 4 clusters that are produced that seemingly capture key terms for windows, hockey, and for sale, while christian and crypt are, presumably, both captured in the final cluster. Therefore, to get the most meaningful results, we will use K=8.

## 2-D
Compute completeness and homogeneity of the KMeans clustering.

In [220]:
for k in range(4,9):
    print('----------------------------------------------------------------------------------')
    print(f'KMeans {k}')
    kmeans_centroids, kmeans_clusters = kMeans(np.array(train_TFxIDF),k,distMeas=cosine_distance)
    kmeans_labels = kmeans_clusters[:,0].astype(int)
    com = completeness_score(target_train['Class'],kmeans_labels)
    hom = homogeneity_score(target_train['Class'],kmeans_labels)
    print(f'Completeness Score: {com:.3f}')
    print(f'Homogeneity Score: {hom:.3f}')
    print('----------------------------------------------------------------------------------')
    print()

----------------------------------------------------------------------------------
KMeans 4
Completeness Score: 0.758
Homogeneity Score: 0.463
----------------------------------------------------------------------------------

----------------------------------------------------------------------------------
KMeans 5
Completeness Score: 0.758
Homogeneity Score: 0.463
----------------------------------------------------------------------------------

----------------------------------------------------------------------------------
KMeans 6
Completeness Score: 0.756
Homogeneity Score: 0.463
----------------------------------------------------------------------------------

----------------------------------------------------------------------------------
KMeans 7
Completeness Score: 0.620
Homogeneity Score: 0.437
----------------------------------------------------------------------------------

----------------------------------------------------------------------------------
KMeans 8
Completeness Score: 0.837
Homogeneity Score: 0.705
----------------------------------------------------------------------------------

After multiple runs of computing completeness and homogeneity for different values of K, K=8 produces less variance in each score and consistently has the highest or nearly the highest values for both evaluations. We will continue to use K=8 for the test.

## 2-E
Using the KMeans clusters as class labels, assign the test data to those clusters. Show the predicted label and the cosine similarity to the centroid.

In [222]:
len(kmeans_centroids)

8

In [234]:
test_TFxIDF = np.asarray(test_TFxIDF)
test_TFxIDF[:5]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

For every test item, calculate the cosine distance to each centroid. Assign to the cluster with the lowest distance.

In [245]:
for i in range(len(test_TFxIDF)):
    min = np.inf
    c_distance = []
    for c in range(len(kmeans_centroids)):
        c_distance.append(cosine_distance(test_TFxIDF[i],kmeans_centroids[c]))
    print(f'{i}; Cluster: {np.argmin(c_distance)}; Distance: {np.min(c_distance)}')

0; Cluster: 2; Distance: 0.8451872557823756
1; Cluster: 1; Distance: 0.9222027994616793
2; Cluster: 2; Distance: 0.8524173723259729
3; Cluster: 1; Distance: 0.8485709920450183
4; Cluster: 2; Distance: 0.9111311316610382
5; Cluster: 4; Distance: 0.7744453029058099
6; Cluster: 1; Distance: 0.9485492518284446
7; Cluster: 7; Distance: 0.8951396087015232
8; Cluster: 1; Distance: 0.8060066998688704
9; Cluster: 4; Distance: 0.8190166620184326
10; Cluster: 1; Distance: 0.7632005604545846
11; Cluster: 1; Distance: 0.8522337353496162
12; Cluster: 1; Distance: 0.9088623456238233
13; Cluster: 4; Distance: 0.8296627436302288
14; Cluster: 2; Distance: 0.8149782720006088
15; Cluster: 7; Distance: 0.9508082339041215
16; Cluster: 2; Distance: 0.8964426191785707
17; Cluster: 2; Distance: 0.8589140394226453
18; Cluster: 1; Distance: 0.7748303464387039
19; Cluster: 1; Distance: 0.8703097525904853
20; Cluster: 2; Distance: 0.9663711706111
21; Cluster: 1; Distance: 0.8411332554236615
22; Cluster: 1; Distance: 0.8625589473326615
23; Cluster: 1; Distance: 0.8692552853970994
24; Cluster: 1; Distance: 0.7878983416036565
25; Cluster: 2; Distance: 0.8843917054558317
26; Cluster: 2; Distance: 0.8700385230184595
27; Cluster: 4; Distance: 0.8993213115975407
28; Cluster: 1; Distance: 0.8624012124095466
29; Cluster: 2; Distance: 0.8342515449210763
30; Cluster: 2; Distance: 0.8428095429911346
31; Cluster: 1; Distance: 0.9195553362941965
32; Cluster: 1; Distance: 0.8830652686589444
33; Cluster: 1; Distance: 0.88866541044048
34; Cluster: 4; Distance: 0.8899286480123719
35; Cluster: 2; Distance: 0.7799572933934398
36; Cluster: 1; Distance: 0.8681880120910805
37; Cluster: 2; Distance: 0.906430313839807
38; Cluster: 1; Distance: 0.9174638342155985
39; Cluster: 4; Distance: 0.8613011042477571
40; Cluster: 1; Distance: 0.8708843307051801
41; Cluster: 4; Distance: 0.8360401391726096
42; Cluster: 7; Distance: 0.7763583119160536
43; Cluster: 2; Distance: 0.8624520313061361
44; Cluster: 1; Distance: 0.8271006047082433
45; Cluster: 7; Distance: 0.7786041462589642
46; Cluster: 4; Distance: 0.9379765854949234
47; Cluster: 2; Distance: 0.9027697393984251
48; Cluster: 4; Distance: 0.8944923416467075
49; Cluster: 1; Distance: 0.9301387764610802
50; Cluster: 1; Distance: 0.801077232063789
51; Cluster: 1; Distance: 0.8270032329400422
52; Cluster: 2; Distance: 0.8418894084334696
53; Cluster: 7; Distance: 0.8245877514505768
54; Cluster: 1; Distance: 0.9667960361309638
55; Cluster: 1; Distance: 0.860230225720638
56; Cluster: 4; Distance: 0.8522577296128
57; Cluster: 2; Distance: 0.7550746223184409
58; Cluster: 5; Distance: 4.029053655230097e-05
59; Cluster: 1; Distance: 0.871379110468385
60; Cluster: 1; Distance: 0.8608915159630306
61; Cluster: 1; Distance: 0.8501737254093709
62; Cluster: 4; Distance: 0.8255867910276555
63; Cluster: 4; Distance: 0.8480424474782561
64; Cluster: 2; Distance: 0.7997613738465079
65; Cluster: 1; Distance: 0.818593493439862
66; Cluster: 2; Distance: 0.9103521199460318
67; Cluster: 1; Distance: 0.892323274151246
68; Cluster: 1; Distance: 0.8054320463997211
69; Cluster: 2; Distance: 0.8553931712017739
70; Cluster: 2; Distance: 0.7873980573710141
71; Cluster: 7; Distance: 0.8134752294841667
72; Cluster: 7; Distance: 0.9602267344215879
73; Cluster: 4; Distance: 0.8134630076915337
74; Cluster: 7; Distance: 0.8758117337736794
75; Cluster: 1; Distance: 0.8633442580919355
76; Cluster: 1; Distance: 0.8503724364347461
77; Cluster: 7; Distance: 0.7988010488985186
78; Cluster: 4; Distance: 0.8465280137861383
79; Cluster: 7; Distance: 0.8677767691574483
80; Cluster: 2; Distance: 0.8101740078622656
81; Cluster: 2; Distance: 0.9003862987126197
82; Cluster: 7; Distance: 0.7907785564171563
83; Cluster: 2; Distance: 0.819378239764906
84; Cluster: 7; Distance: 0.8228686951006672
85; Cluster: 1; Distance: 0.7998163734146766
86; Cluster: 4; Distance: 0.8111887104049256
87; Cluster: 2; Distance: 0.8535248882030515
88; Cluster: 2; Distance: 0.8959660285116404
89; Cluster: 1; Distance: 0.911768209542226
90; Cluster: 2; Distance: 0.7402560862668304
91; Cluster: 2; Distance: 0.8605434066748807
92; Cluster: 1; Distance: 0.8470347456940727
93; Cluster: 7; Distance: 0.8615835433597917
94; Cluster: 4; Distance: 0.8456629200553097
95; Cluster: 7; Distance: 0.6973702712498058
96; Cluster: 1; Distance: 0.8133326263063052
97; Cluster: 7; Distance: 0.8888134539375139
98; Cluster: 4; Distance: 0.8235187502347023
99; Cluster: 2; Distance: 0.8336125330935908
100; Cluster: 2; Distance: 0.8659611176175928
101; Cluster: 2; Distance: 0.844170927209621
102; Cluster: 1; Distance: 0.8395760292135113
103; Cluster: 4; Distance: 0.9218464371082731
104; Cluster: 1; Distance: 0.9130826551869529
105; Cluster: 1; Distance: 0.7281150875135975
106; Cluster: 1; Distance: 0.8815896086698948
107; Cluster: 1; Distance: 0.920638680920359
108; Cluster: 1; Distance: 0.7784707878688476
109; Cluster: 1; Distance: 0.8060219280080517
110; Cluster: 1; Distance: 0.9260597638359186
111; Cluster: 2; Distance: 0.8029282704573434
112; Cluster: 4; Distance: 0.7670986446607247
113; Cluster: 2; Distance: 0.8397723419188748
114; Cluster: 4; Distance: 0.8336576221223202
115; Cluster: 1; Distance: 0.8226059669087404
116; Cluster: 4; Distance: 0.8266440332902862
117; Cluster: 7; Distance: 0.917795976773914
118; Cluster: 2; Distance: 0.8643106008930722
119; Cluster: 1; Distance: 0.8215702332556897
120; Cluster: 4; Distance: 0.8166652436749084
121; Cluster: 4; Distance: 0.883349148913168
122; Cluster: 7; Distance: 0.9757865872709264
123; Cluster: 1; Distance: 0.7810277393116246
124; Cluster: 2; Distance: 0.7473989606145139
125; Cluster: 1; Distance: 0.8600091776196757
126; Cluster: 1; Distance: 0.9401151859184284
127; Cluster: 1; Distance: 0.910817810844198
128; Cluster: 2; Distance: 0.8708526021374913
129; Cluster: 4; Distance: 0.7932351768483008
130; Cluster: 1; Distance: 0.784574102354078
131; Cluster: 4; Distance: 0.8616070996583308
132; Cluster: 2; Distance: 0.8274807028186697
133; Cluster: 1; Distance: 0.8791232797135736
134; Cluster: 1; Distance: 0.8384390848074967
135; Cluster: 2; Distance: 0.9150746026649909
136; Cluster: 7; Distance: 0.8598068325029018
137; Cluster: 4; Distance: 0.7656412670077555
138; Cluster: 1; Distance: 0.856848715473981
139; Cluster: 4; Distance: 0.8661034965617176
140; Cluster: 2; Distance: 0.9408195920921488
141; Cluster: 1; Distance: 0.9208019892105871
142; Cluster: 1; Distance: 0.826923837408145
143; Cluster: 4; Distance: 0.8783143788461784
144; Cluster: 7; Distance: 0.8979545597504368
145; Cluster: 7; Distance: 0.9023166489870665
146; Cluster: 2; Distance: 0.8693184795863484
147; Cluster: 2; Distance: 0.8396684223334344
148; Cluster: 1; Distance: 0.9222229765936371
149; Cluster: 1; Distance: 0.9291068946656499
150; Cluster: 1; Distance: 0.7638565197192229
151; Cluster: 7; Distance: 0.8328842274131025
152; Cluster: 1; Distance: 0.8443346742212612
153; Cluster: 7; Distance: 0.8210871230340778
154; Cluster: 1; Distance: 0.7989170195327134
155; Cluster: 4; Distance: 0.6989566963063297
156; Cluster: 2; Distance: 0.8716009333384577
157; Cluster: 2; Distance: 0.9329510026413789
158; Cluster: 7; Distance: 0.8794664076620319
159; Cluster: 2; Distance: 0.8022062583024321
160; Cluster: 4; Distance: 0.851642897240163
161; Cluster: 1; Distance: 0.913547917748011
162; Cluster: 1; Distance: 0.8756878923509657
163; Cluster: 4; Distance: 0.8815690194785522
164; Cluster: 1; Distance: 0.9553641246321893
165; Cluster: 2; Distance: 0.7611153447978347
166; Cluster: 1; Distance: 0.8719297484021883
167; Cluster: 2; Distance: 0.822736146837228
168; Cluster: 1; Distance: 0.9191774290121715
169; Cluster: 7; Distance: 0.9076683327246506
170; Cluster: 1; Distance: 0.9653481533749589
171; Cluster: 1; Distance: 0.84984659319078
172; Cluster: 1; Distance: 0.8334314337889894
173; Cluster: 1; Distance: 0.8974974357747625
174; Cluster: 2; Distance: 0.7728043801170658
175; Cluster: 2; Distance: 0.915723042071134
176; Cluster: 1; Distance: 0.7728015595044606
177; Cluster: 1; Distance: 0.9478932353424395
178; Cluster: 1; Distance: 0.7840613684216204
179; Cluster: 1; Distance: 0.8044383536523714
180; Cluster: 1; Distance: 0.7947650281477282
181; Cluster: 4; Distance: 0.8561410192160966
182; Cluster: 2; Distance: 0.8650320122526685
183; Cluster: 4; Distance: 0.8259177912909478
184; Cluster: 1; Distance: 0.9032527147087968
185; Cluster: 1; Distance: 0.8517954382050196
186; Cluster: 4; Distance: 0.8059941009087462
187; Cluster: 4; Distance: 0.818207345593327
188; Cluster: 1; Distance: 0.8233247880785275
189; Cluster: 1; Distance: 0.9353845244011488
190; Cluster: 1; Distance: 0.9230770986876955
191; Cluster: 1; Distance: 0.7587136727135152
192; Cluster: 1; Distance: 0.7480790708454357
193; Cluster: 1; Distance: 0.8804287283083801
194; Cluster: 1; Distance: 0.7717998031134741
195; Cluster: 7; Distance: 0.8939512771607498
196; Cluster: 1; Distance: 0.7938345477852145
197; Cluster: 7; Distance: 0.886367028974521
198; Cluster: 1; Distance: 0.8485687675418129
199; Cluster: 4; Distance: 0.8277775235774664
200; Cluster: 1; Distance: 0.5996072045005663
201; Cluster: 4; Distance: 0.9296628563290341
202; Cluster: 4; Distance: 0.8933299126892642
203; Cluster: 4; Distance: 0.8302642500969976
204; Cluster: 1; Distance: 0.7559250525018685
205; Cluster: 1; Distance: 0.769077373534442
206; Cluster: 1; Distance: 0.7560900764615643
207; Cluster: 4; Distance: 0.8020963439981553
208; Cluster: 1; Distance: 0.9060017068582967
209; Cluster: 2; Distance: 0.8723110690000985
210; Cluster: 4; Distance: 0.8890331259098802
211; Cluster: 2; Distance: 0.8985994823940813
212; Cluster: 1; Distance: 0.8809973896101347
213; Cluster: 7; Distance: 0.8263592936364864
214; Cluster: 2; Distance: 0.840403906917438
215; Cluster: 2; Distance: 0.8572766140880981
216; Cluster: 7; Distance: 0.7360773686997755
217; Cluster: 4; Distance: 0.8441721958596212
218; Cluster: 1; Distance: 0.8441527195692182
219; Cluster: 2; Distance: 0.8734119408026696
220; Cluster: 4; Distance: 0.860494985326206
221; Cluster: 7; Distance: 0.8259363624454108
222; Cluster: 1; Distance: 0.8996200939707575
223; Cluster: 2; Distance: 0.8882152734647674
224; Cluster: 1; Distance: 0.8501696579144445
225; Cluster: 4; Distance: 0.8522498345976022
226; Cluster: 7; Distance: 0.9596897650302139
227; Cluster: 1; Distance: 0.8170793094903558
228; Cluster: 1; Distance: 0.906561747870832
229; Cluster: 1; Distance: 0.8859391959900751
230; Cluster: 4; Distance: 0.7775978925158955
231; Cluster: 1; Distance: 0.8788817781734736
232; Cluster: 7; Distance: 0.8715301068674653
233; Cluster: 4; Distance: 0.7625396634380839
234; Cluster: 1; Distance: 0.8527244010492381
235; Cluster: 2; Distance: 0.80251310939552
236; Cluster: 4; Distance: 0.8442968988507034
237; Cluster: 4; Distance: 0.9323334511781709
238; Cluster: 2; Distance: 0.8062334735654137
239; Cluster: 1; Distance: 0.8999400851824558
240; Cluster: 7; Distance: 0.9092568560834828
241; Cluster: 1; Distance: 0.9543143439010083
242; Cluster: 7; Distance: 0.8224420524096671
243; Cluster: 1; Distance: 0.8799508070869552
244; Cluster: 2; Distance: 0.858090332336919
245; Cluster: 2; Distance: 0.9142232339378488
246; Cluster: 7; Distance: 0.8771495145863013
247; Cluster: 1; Distance: 0.8151115389134922
248; Cluster: 1; Distance: 0.7547401896568047
249; Cluster: 4; Distance: 0.841510986478213
250; Cluster: 2; Distance: 0.8390479007298199
251; Cluster: 1; Distance: 0.8465082041889532
252; Cluster: 1; Distance: 0.8453849197404502
253; Cluster: 1; Distance: 0.8506902569932713
254; Cluster: 1; Distance: 0.8517466293968496
255; Cluster: 1; Distance: 0.8201201821263245
256; Cluster: 2; Distance: 0.8621529488825945
257; Cluster: 4; Distance: 0.7587033856745503
258; Cluster: 7; Distance: 0.8833224229814176
259; Cluster: 2; Distance: 0.8938511406778974
260; Cluster: 7; Distance: 0.7540123062362032
261; Cluster: 2; Distance: 0.8792793077550415
262; Cluster: 1; Distance: 0.8187232363551693
263; Cluster: 7; Distance: 0.9354763517019832
264; Cluster: 1; Distance: 0.8278425383727955
265; Cluster: 7; Distance: 0.8038026098041832
266; Cluster: 1; Distance: 0.7725015494213844
267; Cluster: 1; Distance: 0.8816486194564023
268; Cluster: 7; Distance: 0.8544361962102835
269; Cluster: 1; Distance: 0.7771757165816346
270; Cluster: 4; Distance: 0.8922350736084772
271; Cluster: 1; Distance: 0.8617897789548057
272; Cluster: 4; Distance: 0.8210509024397169
273; Cluster: 4; Distance: 0.9309077197198657
274; Cluster: 1; Distance: 0.7490134042112804
275; Cluster: 2; Distance: 0.8349781685690212
276; Cluster: 2; Distance: 0.8670454204853797
277; Cluster: 1; Distance: 0.8578988857256765
278; Cluster: 4; Distance: 0.9328660292012217
279; Cluster: 1; Distance: 0.8604175883416993
280; Cluster: 4; Distance: 0.8253888151231988
281; Cluster: 4; Distance: 0.7445245901920405
282; Cluster: 1; Distance: 0.9098631679526658
283; Cluster: 2; Distance: 0.8492519710877331
284; Cluster: 1; Distance: 0.8376484692906143
285; Cluster: 1; Distance: 0.8427090365590075
286; Cluster: 4; Distance: 0.8334533417681926
287; Cluster: 1; Distance: 0.8146131013456774
288; Cluster: 2; Distance: 0.7225798915370802
289; Cluster: 1; Distance: 0.779059879564472
290; Cluster: 1; Distance: 0.9383134562627906
291; Cluster: 2; Distance: 0.8278530256145652
292; Cluster: 4; Distance: 0.8978643472757546
293; Cluster: 1; Distance: 0.8293202235082398
294; Cluster: 1; Distance: 0.8344694662528092
295; Cluster: 4; Distance: 0.7478038377171983
296; Cluster: 7; Distance: 0.8299848585915389
297; Cluster: 7; Distance: 0.8854706606225214
298; Cluster: 4; Distance: 0.875782919539752
299; Cluster: 7; Distance: 0.9476121849276953
300; Cluster: 4; Distance: 0.9057827464368654
301; Cluster: 1; Distance: 0.7425935719567892
302; Cluster: 1; Distance: 0.8400277562113291
303; Cluster: 1; Distance: 0.6616235903978192
304; Cluster: 7; Distance: 0.9142014725500583
305; Cluster: 1; Distance: 0.8195882249123432
306; Cluster: 2; Distance: 0.7951717786909034
307; Cluster: 4; Distance: 0.8365729278694464
308; Cluster: 1; Distance: 0.8403552006827186
309; Cluster: 1; Distance: 0.8769663517948543
310; Cluster: 4; Distance: 0.7445135977217455
311; Cluster: 1; Distance: 0.8246592455665062
312; Cluster: 1; Distance: 0.8030606475550554
313; Cluster: 1; Distance: 0.8502493620844056
314; Cluster: 2; Distance: 0.8702131961155073
315; Cluster: 2; Distance: 0.8565339907042447
316; Cluster: 2; Distance: 0.8973508543257945
317; Cluster: 4; Distance: 0.7613793776103323
318; Cluster: 1; Distance: 0.7246065488529979
319; Cluster: 2; Distance: 0.8843321461163728
320; Cluster: 7; Distance: 0.8189760019677279
321; Cluster: 1; Distance: 0.8512536997608879
322; Cluster: 2; Distance: 0.867574223053154
323; Cluster: 7; Distance: 0.8565533812485204
324; Cluster: 4; Distance: 0.8292279144617358
325; Cluster: 1; Distance: 0.8885850787040531
326; Cluster: 1; Distance: 0.7747580633275883
327; Cluster: 2; Distance: 0.8610252242959568
328; Cluster: 1; Distance: 0.8651874727745748
329; Cluster: 4; Distance: 0.6527699870582664
330; Cluster: 4; Distance: 0.8850097446763907
331; Cluster: 2; Distance: 0.8807134879802517
332; Cluster: 7; Distance: 0.7811827148618258
333; Cluster: 2; Distance: 0.848186550154451
334; Cluster: 2; Distance: 0.8490684019066078
335; Cluster: 4; Distance: 0.7481654761381042
336; Cluster: 1; Distance: 0.9143254747662963
337; Cluster: 2; Distance: 0.7247498959502068
338; Cluster: 1; Distance: 0.8674373443124048
339; Cluster: 7; Distance: 0.8736291448817909
340; Cluster: 7; Distance: 0.8621521383644246
341; Cluster: 2; Distance: 0.822435892555984
342; Cluster: 1; Distance: 0.8114881291511818
343; Cluster: 2; Distance: 0.9371405981734048
344; Cluster: 4; Distance: 0.8032257597814028
345; Cluster: 1; Distance: 0.8202728469556941
346; Cluster: 4; Distance: 0.8513918540550738
347; Cluster: 7; Distance: 0.8433247721277441
348; Cluster: 2; Distance: 0.9086569573100661
349; Cluster: 2; Distance: 0.8458593024516483
350; Cluster: 1; Distance: 0.9285599738661705
351; Cluster: 2; Distance: 0.7988903999419696
352; Cluster: 2; Distance: 0.8704573555556061
353; Cluster: 1; Distance: 0.9029860027837331
354; Cluster: 1; Distance: 0.8098941577742769
355; Cluster: 1; Distance: 0.9423346097891842
356; Cluster: 4; Distance: 0.8388687456850049
357; Cluster: 1; Distance: 0.8674696805704045
358; Cluster: 1; Distance: 0.9248564662582126
359; Cluster: 2; Distance: 0.8691843866029142
360; Cluster: 7; Distance: 0.9196394335746237
361; Cluster: 1; Distance: 0.900143226354832
362; Cluster: 1; Distance: 0.8789803475860384
363; Cluster: 4; Distance: 0.7739532137690804
364; Cluster: 7; Distance: 0.876816286781541
365; Cluster: 1; Distance: 0.8433462551506549
366; Cluster: 1; Distance: 0.8774112474569356
367; Cluster: 4; Distance: 0.9004755488332664
368; Cluster: 1; Distance: 0.8758878436041417
369; Cluster: 4; Distance: 0.8350152652430265
370; Cluster: 7; Distance: 0.948037585710057
371; Cluster: 2; Distance: 0.8469091794688156
372; Cluster: 2; Distance: 0.8521154411636779
373; Cluster: 2; Distance: 0.7812299310690911
374; Cluster: 2; Distance: 0.8335831219387705
375; Cluster: 2; Distance: 0.9067744268292168
376; Cluster: 1; Distance: 0.8395036321684288
377; Cluster: 4; Distance: 0.9357184576749549
378; Cluster: 7; Distance: 0.8537402994729827
379; Cluster: 1; Distance: 0.9156223579461009
380; Cluster: 7; Distance: 0.8332223305755052
381; Cluster: 2; Distance: 0.8924010176553991
382; Cluster: 4; Distance: 0.8156374887980102
383; Cluster: 2; Distance: 0.7763286003949652
384; Cluster: 1; Distance: 0.8432836522120291
385; Cluster: 1; Distance: 0.7917626536568485
386; Cluster: 1; Distance: 0.8170505818617654
387; Cluster: 2; Distance: 0.8449408895509198
388; Cluster: 1; Distance: 0.7869177929957402
389; Cluster: 7; Distance: 0.8192911783169873
390; Cluster: 2; Distance: 0.86844871000151
391; Cluster: 1; Distance: 0.8279380017948639
392; Cluster: 4; Distance: 0.841253003425545
393; Cluster: 4; Distance: 0.8239012443130265
394; Cluster: 2; Distance: 0.8098626472284174
395; Cluster: 2; Distance: 0.9092769541041645
396; Cluster: 2; Distance: 0.8181135514118916
397; Cluster: 1; Distance: 0.8992454442059221
398; Cluster: 1; Distance: 0.920604523976817
399; Cluster: 7; Distance: 0.9412750637589801
400; Cluster: 7; Distance: 0.8938803737573094
401; Cluster: 2; Distance: 0.8933691582604116
402; Cluster: 4; Distance: 0.8390118776709874
403; Cluster: 4; Distance: 0.8315415514874196
404; Cluster: 2; Distance: 0.9340477018517548
405; Cluster: 1; Distance: 0.7346401052604847
406; Cluster: 1; Distance: 0.924251446869228
407; Cluster: 2; Distance: 0.9016126235510391
408; Cluster: 7; Distance: 0.8292913615804292
409; Cluster: 7; Distance: 0.8809297209286452
410; Cluster: 7; Distance: 0.9393641727228956
411; Cluster: 1; Distance: 0.8275654368941705
412; Cluster: 1; Distance: 0.895375123316654
413; Cluster: 2; Distance: 0.8803805112539438
414; Cluster: 1; Distance: 0.8379166381157616
415; Cluster: 1; Distance: 0.937401894196544
416; Cluster: 1; Distance: 0.8640328595150952
417; Cluster: 1; Distance: 0.9572525232390725
418; Cluster: 7; Distance: 0.8006681768092998
419; Cluster: 7; Distance: 0.8834081310924677
420; Cluster: 7; Distance: 0.9128708110670665
421; Cluster: 7; Distance: 0.8845817881476263
422; Cluster: 1; Distance: 0.7545217177822546
423; Cluster: 1; Distance: 0.7814819312990471
424; Cluster: 4; Distance: 0.8201291912437326
425; Cluster: 1; Distance: 0.8986937162870644
426; Cluster: 2; Distance: 0.8090256433414269
427; Cluster: 2; Distance: 0.8566724309651491
428; Cluster: 7; Distance: 0.9309815978500732
429; Cluster: 2; Distance: 0.8254286288626078
430; Cluster: 7; Distance: 0.8288031055157008
431; Cluster: 7; Distance: 0.8206420254834518
432; Cluster: 4; Distance: 0.8123887200797686
433; Cluster: 1; Distance: 0.8521380599062497
434; Cluster: 1; Distance: 0.839720807569144
435; Cluster: 4; Distance: 0.8482878349881329
436; Cluster: 2; Distance: 0.9259065013690112
437; Cluster: 1; Distance: 0.8376594294436831